@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-n-50: var(--color-n-50);
  --color-n-100: var(--color-n-100);
  --color-n-200: var(--color-n-200);
  --color-n-300: var(--color-n-300);
  --color-n-400: var(--color-n-400);
  --color-n-500: var(--color-n-500);
  --color-n-600: var(--color-n-600);
  --color-n-700: var(--color-n-700);
  --color-n-800: var(--color-n-800);
  --color-n-900: var(--color-n-900);
  --color-n-950: var(--color-n-950);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-fade-in: fade-in 0.5s ease-in-out forwards;
  --animate-fade-out: fade-out 0.3s ease-in-out forwards;
  --animate-slide-in: slide-in 0.3s ease-out forwards;
  --animate-slide-out: slide-out 0.3s ease-in forwards;
  --color-yellow-500: #ffd60a;
  --color-primary-400: var(--color-yellow-400);
  --color-primary-500: var(--color-yellow-500);
  --color-primary-600: var(--color-yellow-600);

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --color-n-50: #ffffff;
  --color-n-100: var(--color-slate-100);
  --color-n-200: var(--color-slate-200);
  --color-n-300: var(--color-slate-300);
  --color-n-400: var(--color-slate-400);
  --color-n-500: var(--color-slate-500);
  --color-n-600: var(--color-slate-600);
  --color-n-700: var(--color-slate-700);
  --color-n-800: var(--color-slate-800);
  --color-n-900: var(--color-slate-900);
  --color-n-950: var(--color-slate-950);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --color-n-50: var(--color-slate-950);
  --color-n-100: var(--color-slate-900);
  --color-n-200: var(--color-slate-800);
  --color-n-300: var(--color-slate-700);
  --color-n-400: var(--color-slate-600);
  --color-n-500: var(--color-slate-500);
  --color-n-600: var(--color-slate-400);
  --color-n-700: var(--color-slate-300);
  --color-n-800: var(--color-slate-200);
  --color-n-900: var(--color-slate-100);
  --color-n-950: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.label-value-container-right {
  @apply flex flex-col w-1/2 justify-start items-end;
}
.label-value-container-left {
  @apply flex flex-col w-1/2 justify-start items-start;
}

.interactive-card {
  @apply relative border-[3px] border-transparent hover:border-primary-500 transition-all flex justify-between gap-3.5 py-1.5 px-3;
}

.no-match {
  @apply border-[3px] border-red-500 bg-red-100;
}

.yes-match {
  @apply border-[3px] border-green-500 bg-green-100;
}

.same-match {
  @apply border-[3px] border-yellow-500 bg-yellow-100;
}

@layer components {
  .p-with-before {
    @apply relative; /* Needed so ::before is positioned relative to the P */
  }

  .p-with-before::before {
    content: "";
    @apply w-28 h-3 bg-primary-500 absolute -bottom-px -left-1 -z-2;
  }
  .p-common {
    @apply relative bottom-[-4px] left-[-4px];
  }
  .no-match-reason {
    @apply hidden absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-red-500 px-2 py-1 text-sm text-slate-50;
  }
  .yes-match-reason {
    @apply hidden absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-green-500 px-2 py-1 text-sm text-slate-50;
  }
  .same-match-reason {
    @apply hidden absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-yellow-500 px-2 py-1 text-sm text-slate-50;
  }

  
}

@layer utilities {
  
  
  /* Show reason divs only when parent has the class */
  .no-match .no-match-reason {
    @apply block;
  }

  .yes-match .yes-match-reason {
    @apply block;
  }

  .same-match .same-match-reason {
    @apply block;
  }

  /* Hide reason divs by default */
  .no-match-reason,
  .yes-match-reason,
  .same-match-reason {
    @apply hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  } /* Chrome/Safari */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


